header {
  padding: 30px;
  background: #E87A7A;
 background-image: url('https://images.unsplash.com/photo-1464922428691-9b81d2baa86b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
background-size: cover;
  background-attachment: fixed;
}

main {
  display: grid;
  grid-template-areas:
    'aside article article'
    'aside footer footer';
    grid-gap: 30px;
}

aside {
  grid-area: aside;
  background: #F2D2D2;
}

article {
  grid-area: article;
  background: #ffffff;
}

footer {
  grid-area: footer;
  background: #FCCCCC;
}
