header {
  background: #E87A7A;
}

main {
  display: grid;
  grid-template-areas:
    'aside article article'
    'aside footer footer';
    grid-gap: 30px
}

aside {
  grid-area: aside;
  background: #F2D2D2;
}

article {
  grid-area: article;
  background: #ffffff;
}

footer {
  grid-area: footer;
  background: #FCCCCC;
}
